.spinning-animation {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.player-screen {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.search-result {
    transition: all .5s;
}
.search-result:hover {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}


.track-selected {
    background-color: #aaaaaa;
}