.spinning-animation {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.player-screen {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}